body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Products {
  display: flex;
  padding: 15px;
  background-color: rgb(123, 186, 207);
  flex-direction: column;
  align-items: center;
}
.sortbar{
  display: flex;
  width: 90%;
  background-color: rgb(48, 38, 184);
  border-radius: 8px;
  flex-direction: row;
  justify-content: space-between;
  padding:1px 8px;
}
.ProductList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  background-color: rgb(29, 118, 148);
  width: 170px;
  height: 280px;
  padding: 5px;
  border-color: rgb(80, 139, 139);
  overflow: auto;
  margin:10px;
  background-color: brown;
  border-radius: 9px;
}

.item h3{
  font-size: 17px;
}

.item h4{
  font-size: 14px;
}

.item p{
  font-size: 10.5px;
}

.header{
  width:100%;
}

